button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #0323a1f6;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}

.navbar ul {
    list-style-type: none; /
    margin: 0;             
    padding: 0;            
    overflow: hidden;      
    background-color: #333; 
}


.navbar li {
    float: left; /
}


.navbar li a {
    display: block;   
    color: white;        
    text-align: center;  
    padding: 14px 16px;  
    text-decoration: none; 
}


.navbar li a:hover {
    background-color: #ddd;
    color: black;
}


.navbar li a.active {
    background-color: #04AA6D;
    color: white;
}
